/* img {
    max-width: 100%; 
    height: auto;
} */

/* main rulez */
body {
    background-color: #FFF;
    height: 3000px

}
.vegas-timer-progress {
    display: none;
}
@font-face {
    font-family: arimi;
    src: url('../fonts/Amiri-Regular.ttf')
}
.centerrize {
    text-align: center;
}
.box {
    width: 30%;
    float: right;
    text-align: center;
    margin-left: 5%;
}
.box:last-child {
    margin-left: 0;
}
/* main rulez */

/* header */

.intro {
    height: 500px;
    background-size: cover;
}
.intro .icona {
    text-align: center;
    margin: 50px auto;
}

.header .nbar {
	background-color:#095694;
	color:#FFF;
	overflow:hidden;
    padding: 7px 7px 7px 7px;
}
.header .nbar img {
	float:left;
    height: 30px;
    padding-left: 20px
}
.header .nbar ul {
	list-style:none;
	overflow:hidden;
	float:right;
	padding-left:40px;
	padding-right:100px;
	margin:3px;
}
.header .nbar ul li {
	float:left;
	
	padding-left:30px
}
.header .nbar ul li a {
	color:#FFF;
	text-decoration:none;
}
.header .nbar ul li a:hover {
	color:#14211a;
}
/** End header */
/* start body */
.abouttheun {
    color: #444;
    text-align: center;
    margin: 20px 50px auto;
    font-family: arimi;
    margin-bottom: 80px;
    margin-top: 80px;
    border: 5px solid #095694;
    border-radius: 30%;
    line-height: 40px;
    
}
.centers {
    padding: 40px 0;
    overflow: hidden
}
.centers .box {
    width: 22%;
    float: right;
    text-align: center;
    margin-left: 4%;
}
.centers .box:last-child {
    margin-left: 0;
}
.centers .box i {
    color: #095694;
    border: 1px solid #095694;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    line-height: 120px
}
.centers .box h3,
.centers .box p {
    line-height: 2;
    color: #444;
    font-family: arimi;
}
.centers .box a {
    color: #444;
    text-decoration:none;
}
.centers .box a:hover {
    color: #095694;
}

/* colleges */
.colleges {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* .colleges .card img {
    height: 300px;
} */
.colleges .card:hover {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}
.colleges .card {
    font-family: arimi;
}
/* contact */
.contacting {
    width: 50%;
    float: right;
}
.contact {
    margin-top: 100px
}
#contact{
    padding:10px 0 10px;
  }
.contact-form h2 {
    text-align: center;
    color: #444;
    font-family: arimi;
    padding-bottom: 5px;
}
  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #095694;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #095694;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#095694;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#095694;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#023864;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}
/* End body */
