/* img {
    max-width: 100%; 
    height: auto;
} */

/* main rulez */
body {
    background-color: #FFF;
    

}
.vegas-timer-progress {
    display: none;
}
@font-face {
    font-family: arimi;
    src: url('../fonts/Amiri-Regular.ttf')
}
@font-face {
    font-family: diwani2;
    src: url('../fonts/Motken.ttf')
}
.centerrize {
    text-align: center;
}
.box {
    width: 30%;
    float: right;
    text-align: center;
    margin-left: 5%;
}
.box:last-child {
    margin-left: 0;
}
/* main rulez */

/* header */

.intro {
    height: 500px;
    background-size: cover;
}
.intro .icona {
    text-align: center;
    margin: 50px auto;
}

/*.header .nbar {
	background-color:#095694;
	color:#FFF;
	overflow:hidden;
    padding: 7px 7px 7px 7px;
}
.header .nbar img {
	float:left;
  height: 30px;
    padding-left: 20px
}
.header .nbar ul {
	list-style:none;
	overflow:hidden;
	float:right;
	padding-left:40px;
	padding-right:100px;
	margin:3px;
}
.header .nbar ul li {
	float:left;
	
	padding-left:30px
}
.header .nbar ul li a {
	color:#FFF;
	text-decoration:none;
}
.header .nbar ul li a:hover {
	color:#14211a;
}*/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

#cssmenu {padding: 0; margin: 0; border: 0; width:100%}
#cssmenu ul, #cssmenu li {list-style: none; margin: 0; padding: 0; float: right;}
#cssmenu ul {position: relative; z-index: 597; }
#cssmenu ul li { float: left; min-height: 1px; vertical-align: middle;}
#cssmenu ul li.hover,
#cssmenu ul li:hover {position: relative; z-index: 599; cursor: default;}
#cssmenu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
#cssmenu ul ul li {float: none;}
#cssmenu ul ul ul {top: 0; right: auto; left: -99.5%; }
#cssmenu ul li:hover > ul { visibility: visible;}
#cssmenu ul ul {bottom: 0; right: auto;}
#cssmenu ul ul {margin-top: 0; }
#cssmenu ul ul li {font-weight: normal;}
#cssmenu a { display: block; line-height: 1em; text-decoration: none; }

#cssmenu {
  background: #333;
  border-bottom: 4px solid #1b9bff;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 12px; 
}

#cssmenu > ul { *display: inline-block; }

#cssmenu:after, #cssmenu ul:after {
    content: '';
    display: block;
    clear: both; 
}

#cssmenu a {
    background: #333;
    color: #CBCBCB;
    padding: 0 20px; 
}
#cssmenu ul { text-transform: uppercase; }

#cssmenu ul ul {
      border-top: 4px solid #1b9bff;
      text-transform: none;
      min-width: 190px; 
}
#cssmenu ul ul a {
        background: #1b9bff;
        color: #FFF;
        border: 1px solid #0082e7;
        border-top: 0 none;
        line-height: 150%;
        padding: 16px 20px; 
}
#cssmenu ul ul ul { border-top: 0 none; }

#cssmenu ul ul li { position: relative }

#cssmenu > ul > li > a { line-height: 48px;  }

#cssmenu ul ul li:first-child > a { border-top: 1px solid #0082e7; }
        #cssmenu ul ul li:hover > a { background: #35a6ff; }

#cssmenu ul ul li:last-child > a {
          border-radius: 0 0 3px 3px;
          box-shadow: 0 1px 0 #1b9bff; 
}
#cssmenu ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }

#cssmenu ul ul li.has-sub > a:after {
          content: '+';
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -8px;
}

#cssmenu ul li:hover > a, #cssmenu ul li.active > a {
      background: #1b9bff;
      color: #FFF;
}
#cssmenu ul li.has-sub > a:after {
      content: '+';
      margin-left: 5px; 
}
#cssmenu ul li.last ul {
      left: auto;
      right: 0; 
}
#cssmenu ul li.last ul ul {
        left: auto;
        right: 99.5%;
}
/** End header */
/* start body */
.abouttheun {
    color: #444;
    text-align: center;
    margin: 20px 50px auto;
    font-family: arimi;
    margin-bottom: 80px;
    margin-top: 80px;
    border: 5px solid #095694;
    border-radius: 20%;
    line-height: 40px;
    padding: 30px;
    
}
.ar {
    font-family: diwani2 !important;
    font-size: 50px
}
.centers {
    padding: 40px 0;
    overflow: hidden
}
.centers .box {
    width: 22%;
    float: right;
    text-align: center;
    margin-left: 4%;
}
.centers .box:last-child {
    margin-left: 0;
}
.centers .box i {
    color: #095694;
    border: 1px solid #095694;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    line-height: 120px
}
.centers .box h3,
.centers .box p {
    line-height: 2;
    color: #444;
    font-family: arimi;
}
.centers .box a {
    color: #444;
    text-decoration:none;
}
.centers .box a:hover {
    color: #095694;
}

/* colleges */
.colleges {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* .colleges .card img {
    height: 300px;
} */
.colleges .card:hover {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}
.colleges .card {
    font-family: arimi;
}
/* contact */
.callusm {
    text-align: center;
    margin: 40px 550px;
    font-family: arimi;
    border: 1px solid #196cc5;
    border-radius: 10px;
}
.callus {
    margin-bottom: 50px
}
ul {
  list-style:none;
  padding:0;
}

.brand{
  text-align:center;
}
.brand span{
  color:white;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72, 94, 116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#C6D0D1;
}

.company-info h3, .company-info ul {
  text-align:center;
  margin:0 1rem 0;
  font-family: arimi;
  color: #444;
  font-size: 25px;
  line-height: 2;
    
}

.contact{
  background:#c6d0d1;
}

/* FORM STYLES */

/* FORM STYLES */

.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #0069D9;
}

.contact form button{
  background:#0069D9;
  border:0;
  text-transform: uppercase;
}


.contact form button:hover, .contact form button:focus{
  background: #095694;
  color:white;
  outline:0;
  transition: background-color 1s ease-out;
    -webkit-transform: scale(1.01);
       -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
         -o-transform: scale(1.01);
            transform: scale(1.01);
}
#email-text-size{
  font-size:0.9em;
}

/* LARGE SCREENS */

@MEDIA(min-width: 700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > *{
    padding:2em;
  }
  .company-info h3, .company-info ul, .brand {
    text-align:left;
  }
}
/* footer */
/* footer start */
.footer {
	background-color:#0069D9;
	color:#444;
	padding-top:10px;
	text-align:center;
	overflow:hidden
}
.footer .footerkara {
	font-family:arimi;
	font-size:15px;
	color:#000;
}
.footer ul {
	list-style:none;
	padding-left:0;
	margin:10px 0 0;
}
.footer ul li {
	display:inline-block;
	padding-right:5px;
	padding-left:5px;
}
.footer ul li a {
	color:#FFF;
	text-decoration:none;
}
.footer ul li a:hover {
	color:#095694;
}
/* footer end */

/* End body */